{% if helper.is_current_user_admin %}
<div id="debug">

  <dl>
    <dt>ゲーム一覧</dt>
    {% for game in helper.gamelist() %}
    <dd>第 {{ game.stage }} ゲーム
        ({{ game.users|join(",") }}
         {{ game.users.count() }} 名):
         <a href="/debug/close_game/{{game.key()}}">強制終了</a>
    </dd>
    {% endfor %}
  </dl>

  <dl>
    <dt>現在プレー中のユーザー ({{ helper.playing_users.count }}名)</dt>
    <dd>
        <ol>
        {% for user in helper.playing_users() %}
        <li>
          {{ user }}
          (<a href="/debug/logout_user/{{user.key()}}">ログアウト</a>)
        </li>
        {% endfor %}
        </ol>
    </dd>
  </dl>

</div>

{% endif %}

