<dl class="block">
  <dd>
    <div>
      {% if helper.is_provable() %}
      <select id="proveline" name="proveline">
        {% for idx in helper.provable_lines %}
        <option value="{{idx}}">{{idx+1}}</option>
        {% endfor %}
      </select>
        {{ helper.submit_tag2('proof', onclick="return confirm('確保宣言しますか？')") }}
      {% else %}
        {{ helper.submit_tag2('proof', disabled='disabled') }}
      {% endif %}
    </div>
    {% if round.is_state('ProofJudgeState') %}
    <dl>
      <dt>Line(<%= proving_line %>) の確保宣言。判定中...</dt>
    </dl>
    {% endif %}
    {% if helper.is_need_to_judge() %}
    <dl>
      <dt>了承しますか？</dt>
      <dd>
        {{ helper.submit_tag2('agree') }}
        {{ helper.submit_tag2('disagree') }}
      </dd>
    </dl>
    {% endif %}
  </dd>
</dl>
